.basketArea{
    position: fixed;
    right: 40px;
    bottom: 20px;
    
    .basketBtn{
        background-color: red;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        transition: transform 0.5s ease;
        cursor: pointer;

        .basketImg{
            height: 45px;
            left: 20px;
            position: relative;
        }

        &:hover{
            transform: scale(1.2);
        }

        .countBasketItems{
            background-color: greenyellow;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 25px;
            left: 8px;
            position: relative;
            border-radius: 20px;
            padding: 20px;
            font-weight: 500;
            font-size: 25px;
        }
    }
}
.basketModal{
    background-color: white;
    box-shadow: 0px 0px 9px grey;
    border-radius: 10px;
    min-width: 300px;
    min-height: 400px;
    position: absolute;
    right: 80px;
    bottom: 50px;
    transition: transform 0.5s ease;
    transform: translateY(480px);
    
    &.active{
        transform: translateY(0px);
    }
    
}