.ulPizzas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-left: 2%;

    .pizza {
        border: 1px solid rgb(148, 148, 148);
        list-style: none;
        border-radius: 10px;
        width: 95%;
        
    }
}

.loader {
    
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }

    width: 48px;
    height: 48px;
    border-width: 3px;
    border-style: dashed solid solid dotted;
    border-color: #FF3D00 #FF3D00 transparent #FF3D00;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    left: 50%;
    top: 50%;

    &:after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 20px;
        top: 31px;
        border: 10px solid transparent;
        border-right-color: #FF3D00;
        transform: rotate(-40deg);
    }
}
